
#paginicial{
    width: 100%;
    height: 100%;
    
   
    img{
        height: 20%;
        width: 297px;
        margin-left:  35%;
        margin-top: 15%;
        
        
    }
}

#botoes{
    display: flex;
    margin-top: 2%;
    margin-left:  41%;
}

#logo{
    margin-left: 11%;
    margin-bottom: 20px;
}